<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.php" />
                <add value="index.htm" />
                <add value="Default.aspx" />
                <add value="index.html" />
                <add value="index.pl" />
                <add value="default.html" />
                <add value="Default.cshtml" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <clear />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="slim">
                    <match url="api/*" />
                    <action type="Rewrite" url="api/index.php" appendQueryString="true" />
                </rule>
				<rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^([^/]+)/?$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}\.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^dataoverview/detailview/([a-zA-Z0-9_-]+)/([0-9]+)/([^/]*)/([^/]*)/([0-9]+)/([^/]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="deepdiver.php?type={R:1}&amp;year={R:2}&amp;geography={R:3}&amp;location={R:4}&amp;chart={R:5}&amp;total={R:6}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^dataoverview/detailview$" ignoreCase="false" />
                    <action type="Rewrite" url="deepdiver.php" logRewrittenUrl="true" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^howto$" ignoreCase="false" />
                    <action type="Rewrite" url="how.php" logRewrittenUrl="true" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^contact$" ignoreCase="false" />
                    <action type="Rewrite" url="contact.php" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^faq$" ignoreCase="false" />
                    <action type="Rewrite" url="faq.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^glossary$" ignoreCase="false" />
                    <action type="Rewrite" url="glossary.php" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^variablelist$" ignoreCase="false" />
                    <action type="Rewrite" url="variables.php" />
                </rule>
				<rule name="Imported Rule 8">
                    <match url="^dataoverview$" ignoreCase="false" />
                    <action type="Rewrite" url="overview.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
</configuration>
